<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Plataforma de língua portuguesa para estrangeiros haitianos.</title>
</head>
<body>
    <header>
        <div class="menu">
            <span class="hamburger"><i class="fas fa-bars"></i></span>
            <nav>
                <ul>
                    <li><a href="/" class="logo"><span class="blue">H</span><span class="red">T</span></a></li>
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                    <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="mensagemErros" id="mensagemErro"></div>
        <form id="cadastroForm">
            <h1>CADASTRO</h1>
            <div>
                <label>Nome completo:</label>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome completo">
            </div>
            <br>
            <div>
                <label>Email:</label>
                <input type="email" id="email" name="email" placeholder="Digite seu email">
            </div>
            <br>
            <div>
                <label>Senha:</label>
                <input type="password" id="senha" name="senha" placeholder="Digite uma senha">
                <i class="fas fa-eye" id="toggleSenha" style="cursor: pointer; position: absolute; left: 85%; top: 57%;"></i>
            </div>
            <br>
            <div>
                <label>Confirmar senha:</label>
                <input type="password" id="con_senha" name="con_senha" placeholder="Confirmar sua senha">
                <i class="fas fa-eye" id="toggleConSenha" style="cursor: pointer; position: absolute; left: 85%; top: 75%;"></i>
            </div>
                      
            <br>
            <button type="submit">Salvar</button>
        </form>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; Desenvolvido por Mikenson Thomas</p>
            <ul class="socials">
                <li><a href="https://chat.whatsapp.com/KcxOOiU5TisKApgKrCjXLu" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="mailto:plataformadelingua@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
                <li><a href="https://www.facebook.com/mikenson.thomas?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://x.com/MikensonT31833?t=9P6ONkE5NOatjRH23HlJNw&s=09"><i class="fab fa-twitter"></i></a></li>
                <li><a href="http://www.linkedin.com/in/mikenson-thomas"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/mikenson.thomas"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
    <script src="/javascripts/cadastro.js"></script>
</body>
</html>