<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plataforma de língua portuguesa para estrangeiros haitianos.</title>
</head>
<body>
  <header>
    <div class="menu">
        <span class="hamburger"><i class="fas fa-bars"></i></span>
        <nav>
            <ul>
                <li><a href="/" class="logo"><span class="blue">H</span><span class="red">T</span></a></li>
                <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
                <li class="logout"><a href="/logout"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
            </ul>
          </nav>
    </div>
  </header>
<body>
    <main>
        <div class="mensagemSucessosCadastroVideo" id="mensagemSucessosCadastroVideo"></div>
        <div class="mensagemErroCadastroVideo" id="mensagemErroCadastroVideo"></div>
        <form id="videosForm01">
            <h1>Página de cadastro de videos</h1>
            <div>
                <label>Título</label>
                <input type="text" id="titulo" placeholder="Degite o título">
            </div>
            <br>
            <div>
                <label>Descrição</label>
                <input type="text" id="descricao" placeholder="Degite a descrição">
            </div>
            <br>
            <div>
                <label for="youtube_link">Link do YouTube</label>
                <input type="text" id="link" placeholder="Insira o link do YouTube">
            </div>
            <div id="nivel">
                <div style="display: flex; gap: 20px;">
                    <label><input type="radio" id="nivel1" style="cursor: pointer;" name="nivel" value="1"> Nível 1</label>
                    <label><input type="radio" id="nivel2" style="cursor: pointer;" name="nivel" value="2"> Nível 2</label>
                    <label style="cursor: pointer;"><input style="cursor: pointer;" type="radio" id="nivel3" name="nivel" value="3"> Nível 3</label>
                </div>                                        
            <br>
            <br>
            <button type="submit">Cadastrar</button>
            <br>
            <br>
        </form>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; Desenvolvido por Mikenson Thomas</p>
            <ul class="socials">
                <li><a href="https://chat.whatsapp.com/KcxOOiU5TisKApgKrCjXLu" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="mailto:plataformadelingua@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
                <li><a href="https://www.facebook.com/mikenson.thomas?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://x.com/MikensonT31833?t=9P6ONkE5NOatjRH23HlJNw&s=09"><i class="fab fa-twitter"></i></a></li>
                <li><a href="http://www.linkedin.com/in/mikenson-thomas"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/mikenson.thomas"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
    <script src="/javascripts/cadastra_videos.js"></script>
</body>
</html>