<!DOCTYPE html>
<html>
<head>
  <title>Plataforma de língua portuguesa para estrangeiros haitianos.</title>
</head>
<body>
  <h1>Erro</h1>
  <p><%= message %></p>
  <% if (error) { %>
    <pre><%= error.stack %></pre>
  <% } %>
</body>
</html>
