<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Plataforma de língua portuguesa para estrangeiros haitianos.</title>
</head>
<header>
    <div class="menu">
        <span class="hamburger"><i class="fas fa-bars"></i></span>
        <nav>
            <ul>
                <li><a href="/" class="logo">HT.</a></li>
                <li class="logout"><a href="/logout" style="padding: 6px; background-color: rgb(234, 159, 159); color: white; border-radius: 5px;"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    <div class="mensagemSucessosLogin"></div>
    <div class="container">
        <div class="header">
            <h1>Bem vindo(a) à nossa plataforma</h1>
        </div>

        <div class="levels">
            <div class="level">
                <img src="../imagens/primeiro.jpeg" alt="Nível Iniciante">
                <h2>Nível Iniciante</h2>
                <p>Comece aprendendo o básico.</p>
                <a href="/aulas_nivel01" class="button">Acessar</a>
            </div>
            <div class="level">
                <img src="../imagens/segundo.jpeg" alt="Nível Intermediário">
                <h2>Nível Intermediário</h2>
                <p>Aprimore suas habilidades.</p>
                <a href="/aulas_nivel02" class="button">Acessar</a>
            </div>
            <div class="level">
                <img src="../imagens/terceiro.jpeg" alt="Nível Avançado">
                <h2>Nível Avançado</h2>
                <p>Torne-se fluente.</p>
                <a href="/aulas_nivel03" class="button">Acessar</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <p>&copy; Desenvolvido por Mikenson Thomas</p>
            <ul class="socials">
                <li><a href="https://chat.whatsapp.com/KcxOOiU5TisKApgKrCjXLu" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="mailto:plataformadelingua@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
                <li><a href="https://www.facebook.com/mikenson.thomas?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://x.com/MikensonT31833?t=9P6ONkE5NOatjRH23HlJNw&s=09"><i class="fab fa-twitter"></i></a></li>
                <li><a href="http://www.linkedin.com/in/mikenson-thomas"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/mikenson.thomas"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
    <script src="/javascripts/home.js"></script>
</body>
</html>