<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma de língua portuguesa para estrangeiros haitianos.</title>
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="menu">
            <span class="hamburger"><i class="fas fa-bars"></i></span>
            <nav>
                <ul>
                    <li><a href="/" class="logo">HT.</a></li>
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                    <li><a href="/cadastro"><i class="fas fa-user-plus"></i>Cadastro</a></li>
                    <li>
                        <details>
                            <summary><i class="fas fa-envelope"></i> Contatos</summary>
                            <ul>
                                <li><a href="https://wa.me/5549984177437" target="_blank">Whatsapp <i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://chat.whatsapp.com/KcxOOiU5TisKApgKrCjXLu" target="_blank">Grupo <i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="mailto:plataformadelingua@gmail.com" target="_blank">E-mail <i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </nav>
        </div>
        <h4 class="enroll-btn">L'union fait la force</h4>
    </header>
    <section class="hero">
        <div class="content">
            <h1>Facilitando o Aprendizado do Português para Haitianos no Brasil</h1>
            <p>
               Eu sou Mikenson Thomas, haitiano, graduando em Ciência da Computação no IFC Brasil. 
               Este site é o meu Trabalho de Conclusão de Curso (TCC), com o objetivo de 
               facilitar o aprendizado da língua portuguesa para imigrantes haitianos no Brasil. 
               Através deste site, você terá acesso a alguns vídeos do youTube bem organisados para aprimorar suas 
               habilidades no português.
            </p>
            <a href="/projetoTcc" class="cta-btn">SAIBA MAIS</a>
        </div>
        <div class="image">
            <img src="../imagens/drapo.jpeg" alt="Student">
        </div>
    </section>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Desenvolvido por Mikenson Thomas</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/mikenson.thomas?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://x.com/MikensonT31833?t=9P6ONkE5NOatjRH23HlJNw&s=09"><i class="fab fa-twitter"></i></a></li>
                <li><a href="http://www.linkedin.com/in/mikenson-thomas"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/mikenson.thomas"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
    <script>
        document.querySelector('.hamburger').addEventListener('click', function() {
            document.querySelector('nav ul').classList.toggle('active');
        });
    </script>
</body>
</html>