<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/projetoTcc.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Plataforma de língua portuguesa para estrangeiros haitianos.</title>
</head>
<header>
    <div class="menu">
        <span class="hamburger"><i class="fas fa-bars"></i></span>
        <nav>
            <ul>
                <li><a href="/" class="logo">HT.</a></li>
                <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                <li><a href="/cadastro"><i class="fas fa-user-plus"></i>Cadastro</a></li>
            </ul>
        </nav>
    </div>
    <div class="mikensonthomasinfo">
        <h1>Mikenson Thomas</h1>
        <h2>Haitiano</h2>
        <h3>Ciêntista da computação</h3>
        <h4>IFC videira Brasil</h4>
        <h4>2021-2024</h4>
        <img src="../imagens/mikensonthomas.jpg" alt="">
    </div>
</header>
<body>
    <div class="container">
        <div class="facilitando">
            <h1>Facilitando o Aprendizado do Português para Haitianos no Brasil</h1>
        </div>

        <div class="bem_vindo">
            <p>
                Olá! Bem-vindo à nossa Plataforma de Facilitar o Aprendizado de Língua Portuguesa! Meu nome é 
                <strong>Mikenson Thomas</strong> graduando em Ciência da Computação pelo Instituto Federal Catarinense (IFC) 
                no Brasil. Este projeto é meu Trabalho de Conclusão de Curso (TCC), com o objetivo de ajudar estrangeiros 
                haitianos que vivem no Brasil a aprenderem a língua portuguesa de maneira acessível e eficaz.
            </p>
            <p>
                Nosso objetivo é ajudar estrangeiros haitianos no Brasil a aprenderem a língua portuguesa de maneira fácil e acessível. 
                Sabemos que aprender um novo idioma pode ser desafiador, por isso organizamos links dos vídeos de YouTube em três níveis de aprendizado:
            </p>
            <ul>
                <li><strong>Nível Básico:</strong> Para quem está começando a aprender português.</li>
                <li><strong>Nível Intermediário:</strong> Para quem já tem algum conhecimento e quer aprimorar suas habilidades.</li>
                <li><strong>Nível Avançado:</strong> Para quem deseja se aprofundar na gramática, vocabulário e compreensão de textos.</li>
            </ul>
            <p>
                Por enquanto, nossa plataforma disponibiliza links do YouTube bem organizados. No futuro, planejamos transformar essa plataforma 
                em um aplicativo completo que facilitará ainda mais o aprendizado de português e também oferecerá aprendizado de inglês.
            </p>
        </div>
        <footer>
            <div class="footer-content">
                <p>&copy; Desenvolvido por Mikenson Thomas</p>
                <ul class="socials">
                    <li><a href="https://chat.whatsapp.com/KcxOOiU5TisKApgKrCjXLu" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="mailto:plataformadelingua@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
                    <li><a href="https://www.facebook.com/mikenson.thomas?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://x.com/MikensonT31833?t=9P6ONkE5NOatjRH23HlJNw&s=09"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="http://www.linkedin.com/in/mikenson-thomas"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://www.instagram.com/mikenson.thomas"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script>
        document.querySelector('.hamburger').addEventListener('click', function() {
            document.querySelector('nav ul').classList.toggle('active');
        });
    </script>
</body>
</html>